<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ url_for('images', path='t-logo.png') }}">
    <!-- Custom CSS -->
    <link href="{{ url_for('css', path='styles.css') }}" rel="stylesheet">
    <title>Techtonique R Packages Repository</title>
</head>
<body>
    <div id="menu">
        <a href="/">home</a>
        <a href="/packages">packageslist</a>
        <a href="https://docs.techtonique.net">packagesdocs</a>
        <a href="/downloads">downloads</a>
        <a href="https://github.com/Techtonique">github</a>
        <a href="https://www.techtonique.net">techtoniqueapis</a>        
    </div>
    <div id="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
