<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom CSS -->
    <link href="{{ url_for('css', path='styles.css') }}" rel="stylesheet">
    <title>Techtonique R Packages Repository</title>
</head>
<body>
    <div id="menu">
        <a href="/">Home</a>
        <a href="/downloads">Downloads</a>
        <a href="https://www.techtonique.net">Techtonique</a>
        <a href="https://github.com/Techtonique">GitHub</a>
    </div>
    <br>
    <br>
    {% block content %}{% endblock %}
</body>
</html>
