{% extends "base.html" %}

{% block content %}
<h1>
    Techtonique R Packages Repository
</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Package</th>
            <th>Platform</th>
            <th>Status</th>
            <th>Build Time</th>
        </tr>
    </thead>
    <tbody>
        {% for package_name, package in packages.items() %}
            {% for platform, info in package.platforms.items() %}
            <tr>
                {% if loop.first %}
                <td rowspan="{{ package.platforms|length }}">
                    <a href="/download/source/{{ package_name }}?version={{ package.version }}">{{ package_name }}</a>
                </td>
                {% endif %}
                <td>{{ platform }}</td>
                <td class="status-{{ info.status }}">{{ info.status }}</td>
                <td>{{ info.build_time }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
